$red-color: red;
$green-color: green ;
$purple-color: purple  ;

@import 'shared/sectionTitle';

.skillTitle{
    color: $red-color;
    @extend %section-titles;
}

.educationTitle {
    color: $green-color;
}

.aboutTitle{
    color: $purple-color;
}
#profilePic {
    border-radius: 100px;
    width :266px;
    height: 200px;
    border: solid black 10px;
}